.article {
  text-align: left;
  width: 600px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-image {
  margin-bottom: 20px;
  border-radius: 5px;
}

/* .article-paragraph {} */