.article-container {
  width: clamp(100px, 100vw, 800px);
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.article-image {
  margin-bottom: 2%;
  border-radius: 5px;
  width: 100%;
}

.article-body {
  text-align: left;
  width: 100%;
}