.navbar-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-inline: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}