.navbar-container {
  display: flex;
  justify-content: center;
  gap: clamp(6px, 2vw, 10px);
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}