* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.0em;
  margin-bottom: 1.0rem;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

p {
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

p:last-child {
  margin-bottom: 0;
}