@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: clamp(0.8rem, 12vw, 2rem);
  margin-bottom: clamp(10px, 2vw, 18px);
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

p {
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

ul {
  line-height: 1.8;
}

p:last-child {
  margin-bottom: 0;
}